@import "./static/_required.scss";

.social {
  margin: 0.5em 0.75em;
  grid-area: 1/1/2/2;
  text-align: left;
  position: relative;

  .menuItem {
    text-decoration: none;
    margin: 0.25em 1em;

    .socialIcon {
      height: 2em;
      width: 2em;
      @include transition;
    }
  }
}

.main-menu {
  display: flex !important;
  flex-flow: column;
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  top: 0;
  z-index: 8;
  background-color: transparentize($lightgrey, 0.1);
  @include slowtransition;

  .menuItem {
    @include threeDtxt;
    position: relative;
    z-index: 9;
    color: $black;
    @include growfont(2.5em);
    margin: 1em 0 0;

    &:hover {
      color: $orange;
      @include threeDtxt($color2: $grey);
    }

    &.active {
      background-color: transparentize($orange, 0.75);
      color: lighten($black, 45%);
    }
  }
}

.primary {
  grid-area: 2/1/3/3;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
