*.log
*.sh
*.env*
*.lock
*.sql
*.csv
*.txt
*.py
*.phar
*.cache

wp-config.php
wp-blog-header.php
wp-activate.php
# index.php
wp-comments-post.php
wp-config-sample.php
wp-links-opml.php
wp-cron.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
RoboFile.php
LSP_WP/wp-content/advanced-cache.php
LSP_WP/wp-content/backup-db/
LSP_WP/wp-content/backups/
LSP_WP/wp-content/blogs.dir/
LSP_WP/wp-content/cache/
LSP_WP/wp-content/upgrade/
LSP_WP/wp-content/uploads/
LSP_WP/wp-content/plugins/
LSP_WP/wp-content/mu-plugins/
LSP_WP/wp-content/wp-cache-config.php
LSP_WP/wp-admin**
LSP_WP/wp-includes**

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
/backups-migration

**node_modules**
**unused**
**dist**
**/server/**
**/public/**
**logo.*
**server.conf
**.nginx.conf
LSP_WP/*-assets/

lsp

**.com
**.org
**.net
**.io

**.com/.env*
**.org/.env*
**.net/.env*
**.io/.env*

!example.com
!example.com/.env*
!**/data-server/**
!**/render-server/**
!LSP_WP/wp-content/themes*/**
!LSP_WP/wp-content*/**index.php
!LSP_WP/wp-content/themes*/**index.php
!.env.development
