@import "../static/_required.scss";

.postList {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    .listItem {
        text-decoration: none;
        display: block;
        margin: 1em 0;
        width: 300px;
    }
}
