@import "../static/_required.scss";

.page {
  display: block;
}

.topContent {
  .header {
    margin: 1.25em;
    font-size: 1.25em;
    letter-spacing: 0.5px;

    &:first-child:first-letter {
      text-transform: uppercase;
      @include threeDtxt;
      font-family: $f2;
      font-size: 2.25em;
    }
  }
}
