@import "../static/_required.scss";

.page {
  display: block;
}

.topContent {
  .header {
    margin: 1.25em;
    font-size: 1.25em;
    letter-spacing: 0.5px;

    &:first-child:first-letter {
      text-transform: uppercase;
      @include threeDtxt;
      font-family: $f2;
      font-size: 2.25em;
    }
  }
}

.secondary {
  display: grid;
  grid-template-columns: repeat(auto-fit, 15em);
  grid-gap: 5em 10em;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;

  .section {
    text-decoration: none;
    display: inline-block;
    min-width: 50%;

    .contentBox {
      letter-spacing: 0.05em;
      margin: 0 auto;
      height: 23em;
      @include transition;

      &::before {
        background-color: transparent;
      }

      &:hover {
        @include threeD;
      }

      .content {
        align-self: center;
      }
    }
  }
}

.filter {
  position: absolute;
  top: 0;
  left: 0;
}

.taglineSection {
  display: grid;
  align-items: end;
  margin: 2.5em auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 15vmax;
  width: 85vw;

  .background {
    position: absolute;
    height: 7em;
    width: 85vw;
    margin: 0 auto;
    left: 0;
    right: 0;
    max-width: 700px;
  }

  .tagline {
    font-family: $f1;
    position: relative;
    letter-spacing: 0.15em;
    margin: 0.15em;
    text-align: center;
    font-size: calc(1em + 1vmin);

    .taglineWord {
      display: inline-block;
      text-transform: uppercase;
      font-weight: 800;
      opacity: 0;
      @include slowtransition;

      &:first-letter {
        font-size: 1.5em;
        font-weight: 800;
      }
    }
  }
}
