.lsp_slider_settings_gallery_container img {
  max-width: 100%;
  max-height: 100%;
}

#lsp_slider_settings_image_button {
  display: block;
}

.lsp_slider_settings_image_container {
  position: relative;
  width: 150px;
  height: 150px;
}

#lsp_slider_settings_gallery_list li {
  display: inline;
  float: left;
}

.lsp_slider_settings_gallery_container {
  position: relative;
  height: 150px;
}

.lsp_slider_settings_gallery_button_container {
  clear: left;
}

.lsp_slider_settings_gallery_close:after {
  font-size: 40px !important;
  display: block;
  content: "\00d7";
  position: absolute;
  color: #fff;
  top: 0;
  right: 5px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  cursor: pointer;
  display: none;
}

.lsp_slider_settings_gallery_container:hover .lsp_slider_settings_gallery_close:after {
  display: block;
}

#lsp_slider_settings_gallery_button {
  display: block;
}
