@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    opacity: 0.1;
    width: 50%;
  }

  50% {
    opacity: 1;
    width: 60%;
  }

  100% {
    opacity: 0.1;
    width: 50%;
  }
}

.loadingBox {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 9999;
  position: fixed;
}

.loadingBox .loading {
  width: 5em;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-duration: 3s;
}

.loaderImg {
  animation-name: pulse;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  animation-duration: 1.4s;
}
