@import "../static/_required.scss";

.Footer {
  grid-area: 4/1/5/3;
  width: 100%;
  font-size: 0.85em;
  text-align: center;

  .upperFooter {
    display: flex;
    justify-content: space-between;

    .searchBox {
      height: 1em;
      margin: 0.5em 1.5em;
      display: flex;
      justify-content: flex-end;

      .loaderButton {
        @include btn($font-size:.75em);
        padding: 0;
        height: 1.5em;
        background-color: $lightgrey;
      }

      .loaderImg {
        fill: $black;
      }

      .searchInput {
        height: 1.5em;
        @include transition;
      }

      .searchIcon {
        color: $white;
        @include transition;
        cursor: pointer;
        height: 1.25em;
        width: 1.25em;

        &:hover {
          height: 1.5em;
          width: 1.5em;
          color: $orange;
        }
      }
    }
  }

  .lowerFooter {
    background-color: $black;

    .contactBoxStyles {
      color: $white;
      font-size: 1em;
      text-align: left;
      padding: 0.5em 1em;
      max-width: 70%;

      .addressStyles,
      .phoneStyles {
        margin: 1em 0;
        font-size: 0.75em;
      }

      .contactLinkBox {
        color: inherit;
        @include underline($font-size: 0.75em);
        font-weight: bold;
        width: 50%;
      }

      .contactHeaderStyles {
        font-size: 1em;
      }
    }

    .tagline {
      font-family: $f2;
      font-size: 0.8em;
      font-style: italic;
      color: $white;
      display: block;
    }

    .copyright {
      font-family: $f1;
      color: $white;
      text-align: right;
      font-size: 0.75em;
      @include underline;

      a {
        color: $white;
        text-decoration: none;
        padding: 0 0.5em;
        margin: 0.5em 0;

        &:hover {
          color: $orange;
        }
      }
    }

    .loginBtn {
      justify-self: end;
      align-self: center;
      margin-right: 2em;

      .rowBtn {
        @include btn($font-size: 0.85em);
        color: $white;
      }
    }
  }
}
