@import "../static/_required.scss";

.Header {
  grid-area: 1 / 1 / 2 / 3;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0;
  height: 3.6em;
  z-index: 1;

  .hamburger {
    position: absolute;
    right: 1em;
    z-index: 11;
    cursor: pointer;
    margin-top: 0.5em;
    width: 2em;
    height: 3em;

    span {
      display: block;
      border-radius: 2em;
      width: 100%;
      max-width: 10vh;
      padding: 0.1em;
      margin: 0.3em;
      @include transition;
      @include threeDtxt;
    }

    &:hover span {
      @include threeDtxt;
    }

    &.bite span {
      opacity: 0;

      &:first-child {
        @include rotate1;
        opacity: 1;
      }

      &:last-child {
        @include rotate2;
        opacity: 1;
      }
    }
  }

  .logo {
    left: 0;
    top: 0;
    display: flex;
    position: absolute;
    max-width: 15em;
    height: 100%;
    padding: 5px;
    @include pulseFloat;
  }

  .homeLink {
    text-decoration: none;
    align-items: end;
    height: 90%;
    position: relative;
    z-index: 5;

    .appTitle {
      font-size: 1.5em;
      color: transparentize($white, 0.1);
      @include threeDtxt;
      @include transition;
      margin: 0 auto;
    }

    .mt {
      width: 15em;
      height: 2em;
      border-radius: 5em;
      background-image: repeating-linear-gradient(
        90deg,
        transparentize($lightgrey, 0.85),
        transparent 3em
      );
      margin: 0 auto;
      @include threeD(
        $blur: 20,
        $spread: 8,
        $color1: transparentize($grey, 0.6)
      );
      position: relative;
      z-index: 10;
    }
  }

  &.transparent {
    background-image: none;
    background-color: transparent;

    .homeLink {
      .appTitle {
        font-size: 3em;
        position: absolute;
        top: 1em;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }

    .shopaccountmenu {
      .menuItem {
        .menuIcon {
          color: $black;
        }
      }
    }
  }
}
